<%= form_with(model: letter, local: true) do |form| %>
  <% if letter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(letter.errors.count, "error") %> prohibited this letter from being saved:</h2>

      <ul>
      <% letter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :letter_title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :letter_body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
