<p id="notice"><%= notice %></p>

<div class="container" id="burrito">
  <h1 class="toppi"><a class="odell text-primary">Browse</a> or Start Your Letter <a class="magical text-primary" style="display:none;" href="/letters/new">here!</a></h1><hr>

 
<table class="table table-dark" style="display: none;">
  <thead>
    <tr>
      <th class="text-primary">Title</th>
      <th class="text-primary">Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @letters.each do |letter| %>
      <tr class="spaceyg">
        <td class="letter_custom"><%= letter.title %></td>
        <td class="letter_custom"><%= letter.body %></td>
        <td><%= link_to 'Open', letter %></td>
        <% if owner?(letter) %>
          <td><%= link_to 'Edit', edit_letter_path(letter)%></td>
          <td><%= link_to 'Delete', letter, method: :delete, data: { confirm: 'Are you sure?' }%></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div id="lead2" style="display: none;">
<a class="btn btn-primary btn-lg butto" id="harrychild" href="/letters/new">New Letter</a>
</div>
</div>
<script>
  $(function() {

    $(".magical").fadeIn(2000, function() {
      $(".magical").removeClass("display:none");
    });
  });

$(function() {

    $(".odell").on("click", function() {
      $(".table").toggle(1000);
    });
});

$(function() {

    $(".odell").on("click", function() {
      $("#lead2").toggle(1000);
    });
});
</script>
