<p id="notice"><%= notice %></p>

<h1>Christian is a pussy ass bitch</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @letters.each do |letter| %>
      <tr>
        <td><%= letter.title %></td>
        <td><%= letter.body %></td>
        <td><%= link_to 'Show', letter %></td>
        <% if owner?(letter) %>
          <td><%= link_to 'Edit', edit_letter_path(letter)%></td>
          <td><%= link_to 'Destroy', letter, method: :delete, data: { confirm: 'Are you sure?' }%></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Letter', new_letter_path %>
